        body {
            color: white;
        }
        
        .wrapper {
            height: 700px;
            width: 800px;
            background: #000;
            margin: auto;
        }
        
        header {
            font-size: 30px;
            display: flex;
            justify-content: space-around;
            background: rgb(90, 90, 90);
            height: 15%;
        }
        
        .main {
            display: flex;
            border: 4px dotted green;
            height: 85%;
        }
        
        .block_left {
            height: 100%;
            background: rgb(43, 36, 36);
            flex: 4;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        
        .item {
            background: green;
            height: 40px;
            /* border: 4px dotted red; */
            text-align: center;
        }
        
        .item8 {
            flex: 1;
            background: rgb(71, 71, 71);
            height: 40px;
            /* border: 4px dotted red; */
            position: relative;
        }
        
        .item8>p {
            position: absolute;
            bottom: 0;
            left: 35%;
        }
        
        .block_right {
            height: 100%;
            flex: 9;
            /* background: red; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .txt {
            height: 100%;
            position: relative;
        }
        
        .txt1 {
            height: 100%;
            width: 100%;
            background: blue;
            position: absolute;
            visibility: hidden;
        }
        
        .txt2 {
            height: 100%;
            width: 100%;
            background: red;
            position: absolute;
            visibility: hidden;
        }
        
        .txt3 {
            height: 100%;
            width: 100%;
            background: white;
            position: absolute;
            visibility: hidden;
        }
        
        .txt4 {
            height: 100%;
            width: 100%;
            background: purple;
            position: absolute;
            visibility: hidden;
        }
        
        .txt5 {
            height: 100%;
            width: 100%;
            background: violet;
            position: absolute;
            visibility: hidden;
        }
        
        .txt6 {
            height: 100%;
            width: 100%;
            background: orange;
            position: absolute;
            visibility: hidden;
        }
        
        .txt7 {
            height: 100%;
            width: 100%;
            background: orangered;
            position: absolute;
            visibility: hidden;
        }